<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Ajouter Facture</h4>
                     
                  </div>
                 <br>
                  <div>  
                      <div class="col-sm-4"></div>  
                      <div class="col-sm-4" >  
                        <div [hidden]="submitted" style="width: 400px;">  
                          <form [formGroup]="Facturesaveform" #save (ngSubmit)="saveFacture(saveFacture)">  
                              <div class="form-group">  
                                  <label for="name">Montant Remise</label>  
                                  <input type="text" class="form-control"  formControlName="montantremise" data-toggle="tooltip"   
                                     data-placement="right" title="Enter montantRemise" >  

                                     <div class="alert alert-danger" *ngIf="montantremise.errors && (montantremise.dirty || montantremise.touched)">
                                        <div *ngIf="montantremise.errors.required">champs obligatoire</div>
                                        <div *ngIf="montantremise.errors.pattern">pattern non respecte</div>
                                        <div *ngIf="montantremise.errors.minlength">Minimum 2 charactéres.</div>
                                              </div>
                              </div>  
                              
                              <div class="form-floating mb-3">
                                <label for="name">Date Facture</label>
                                <input class="form-control" id="floatingInput" name="datefacture" type="date" placeholder="Date Facture" #ndate="ngModel"
                                  [(ngModel)]="Facture.datefacture" />
                                  <div class="alert alert-danger" *ngIf="datefacture.errors && (datefacture.dirty || datefacture.touched)">
                                  <div *ngIf="datefacture.errors.required">champs obligatoire</div>
                                  <div *ngIf="datefacture.errors.pattern">pattern non respecte</div>
                                  </div>
                            
                              </div>

                              
                              <div class="form-group">  
                                <label for="name">Active</label>  
                                <input type="text" class="form-control" formControlName="active"   
                                  data-toggle="tooltip" data-placement="right" title="Enter active">  
                                  <div class="alert alert-danger" *ngIf="active.errors && (active.dirty || active.touched)">
                                    <div *ngIf="active.errors.required">champs obligatoire</div>
                                    <div *ngIf="active.errors.pattern">pattern non respecte</div>
                                          </div> 
                            </div>
                            <div class="form-group">  
                                <label for="name">Montant Facture</label>  
                                <input type="text" class="form-control" formControlName="montantfacture"   
                                  data-toggle="tooltip" data-placement="right" title="Enter montantFacture">  
                                  <div class="alert alert-danger" *ngIf="montantfacture.errors && (montantfacture.dirty || montantfacture.touched)">
                                    <div *ngIf="montantfacture.errors.required">champs obligatoire</div>
                                    <div *ngIf="montantfacture.errors.pattern">Le pattern non respecté</div>
                                          </div> 
                            </div>
                        

                                            <!-- debut detailfacture -->

                          <!--  <table class="table table-bordered" formArrayName="Factures">
                              <tr> Ajouter detailfacture </tr>
                              <tr *ngFor="let detailfacture of Detailfacture().controls; let i=index" [formGroupName]="i">
                                  <td>
                                      <mat-form-field appearance="fill">
                                          <mat-select formControlName="detailfacture" >
                                              <mat-option *ngFor="let prod of produits"[value]="prod.idproduit" (click)="change(prod.prixunitaire,i,product)"> {{prod.libelleproduit}}  </mat-option>
                                         
                                          </mat-select>
                                      </mat-form-field>
                                  </td>
                                <td>
                                    Quantity :
                                    <input type="number" formControlName="qty" class="form-control"  (click)="change1(i,product)">
                                </td> 
                                 <td>
                                  Pourcentage_Remise:
                                  <input type="number" formControlName="pourcentage_remise" (click)="change2(i,product)" class="form-control">
                              </td>
                                 <td>
                                  Montant_Remise:
                                  <input type="number" formControlName="Montant_remise" class="form-control" disabled>
                                 </td>
                              
                             <td>
                                    Prix total:
                                    <input type="number" formControlName="price" class="form-control" disabled >
                                </td>
                                <td>
                                    <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>  
                                    <button type="button" (click)="addProduct()" class="btn btn-primary">Add More</button>
                                </td>
                              </tr>
                            </table> -->


                                           <!-- fin  detailfacture -->


                            <button type="submit" class="btn btn-success" >Ajouter</button>  
                          </form>  
                      </div>  
                      </div>  
                       
                    </div>  
                    <div >  
                     
                    </div>



                  <div class="input-group">
                     
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead class=" text-primary">
                                
                              </thead>
                              <tbody> 
                              
                               
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
             
              
 </div>